<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.application22024">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application22024"
        tools:targetApi="31">


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5f301f0b001c8c2a2c63473d48b78772" />

        <activity
            android:name=".employer.RegistrationActivity" />

        <activity
            android:name=".employee.EmployeeMain"
            android:launchMode="singleTop" />
        <activity
            android:name=".First_Activity"
            android:exported="true"
            android:theme="@style/Theme.Application22024">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".employer.EmployerMain" />
        <activity android:name=".JobDetails" />
        <activity android:name=".ChatActivity"/>
        <activity android:name=".employee.Profile" />
        <activity android:name=".MapActivity" />

        <activity android:name=".employee.CalendarActivity" />
        <activity android:name=".employee.MyApplicationsActivity" />
        <activity android:name=".employee.AddPostActivity" />
        <activity android:name=".employee.CustomerService" />
        <activity android:name=".employee.PostDetailActivity" />
        <activity android:name=".employer.ConsultationActivity" />

    </application>

</manifest>